*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px; /* Ширина вертикальной полосы прокрутки */
    height: 6px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-track {
    background: #d3d3d3; /* Цвет фона дорожки */
    border-radius:20px; /* Радиус скругления дорожки */
}

::-webkit-scrollbar-thumb {
    background: #313131; /* Цвет "ползунка" полосы прокрутки */
    border-radius: 10px; /* Радиус скругления ползунка */
}



/* scrollbar-width: thin; /* Устанавливает ширину полосы прокрутки: auto, thin, или none */
/* scrollbar-color: #888 #f1f1f1; Цвет ползунка и дорожки */ 



body, html{
    font-optical-sizing: auto;
    font-family: "Doto", sans-serif;
    height: 100%;
    
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    flex: 0 0 auto;
}
main{
    flex: 1 0 auto;
}
footer{
    margin-top: 100px;
    flex: 0 0 auto;
}
main .auth_main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content_form{
    width: 25%;
    padding: 20px;
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    flex-direction: column;
    /* border: 1px solid #cfcfcf;
    background-color: #f7f7f7; */
}
.content_form a{
    margin-left: auto;
    margin-right:auto;
    width: fit-content;
    
}
.content_form a:first-of-type{
    margin-bottom: 10px;
}
/* Друзья */
.friends{
    width: 100vh;
    display: flex;
}
    .tuble-friends{
        width: 100%;
        max-height: 609px;
        overflow-y: auto;
    }
    .friend{
        display: flex;
        align-items: center;
        background-color: #f9f9f9;
        max-width:70%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
     /* Эффект при наведении на ссылку */
     .friend:hover {
        background-color: #f0f0f0;
    }
  
    /* Фото друга */
    .friend-photo {
        margin-right: 15px;
    }
    
    .friend-photo img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
  
    /* Имя друга */
    .friend-name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }
  
    /* Недавнее сообщение */
    .friend-message {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
  
    /* Блок кебаб */
    .friend-notification {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
  
    /* Число уведомлений */
    .delete_friend_icon {
        padding: 5px 10px;

    }
    
    /* Время уведомления */
    .notification-time {
        font-size: 12px;
        color: #666;
    }
/* Заявки */
.zayvki{
    width: 100vh;
    display: flex;
    border: 1px solid rgb(0, 60, 255);
    padding:5px;
    max-height: 609px;
    overflow-y: auto;
}
.profile{
    padding: 30px;
    width: 100vh;
    display: flex;
    justify-content: center;
}
/* Сообщения */
.messages{
    width: 100vh; 
    display: flex;
    justify-content: space-between;
    /* border:solid 2px red;  */
}   
    #user-selection {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .user-item {
        cursor: pointer;
        padding: 10px;
        transition: all 0.3s ease;
    }

    .user-item:hover {
        border-color: #007bff;
        background-color: #f0f8ff;
    }

    .user-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .user-item.selected {
        border-color: #007bff;
        background-color: #e0f7ff;
    }
    #chat-box {
        display: none;  /* Изначально скрыто */
    }


    .people{
        margin: 10px;
        height: 589px;
        padding: 10px;
        width: 30%;
        overflow-y: scroll;
        border-radius: 4px;
        border:solid #bdbdbd 1px;
    }
        .massage-friend {
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 100%;
            background-color: #f3f3f3;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px ;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }
      
        /* Эффект при наведении на ссылку */
        .massage-friend:hover {
            background-color: #bebdbd;
        }
      
        /* Фото друга */
        .massage-friend-photo {
            margin-right: 15px;
        }
        
        .massage-friend-photo img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        /* Информация о друге */
        .friend-info {
            flex-grow: 1;
        }
      
        /* Имя друга */
        .friend-name {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }
      
        /* Недавнее сообщение */
        .contact-friend {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }
      
        /* Блок с уведомлением */
        .delete_friend {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
      
        /* Число уведомлений */
        .notification-count {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        /* Время уведомления */
        .notification-time {
            font-size: 12px;
            color: #666;
        }

    @media (max-width: 1408px), (max-height:670px) {
        .people{
            margin: 10px;
            height: 589px;
            padding: 10px;
            width: 100px;
            overflow-y: scroll;
            border-radius: 4px;
            border:solid #bdbdbd 1px;
        }
            .massage-friend {
                display: flex;
                align-items: center;
                text-decoration: none;
                background-color: #f9f9f9;
                padding: 10px;
                margin-top: 5px;
                margin-bottom: 5px ;
                border-radius: 10px;
                transition: background-color 0.3s ease;
            }
        
            /* Фото друга */
            /* .massage-friend-photo {
                
            } */
            
            /* Информация о друге */
            .friend-info {
                display: none;
            }
            .friend-notification{
                display: none;
            }
            /* Недавнее сообщение */
            /* .contact-friend {
                display: none; */

    }
    /* Блок переписки и отправки письма. */
    .correspondence{
        width: 70%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 4px;
    }
        .friend_up_block {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .main_messages{
            height: 495px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-top : 10px;
            
            background-color: #f1f1f1;
            border:solid #bdbdbd 1px ;
            border-radius: 4px 4px 0px 0px;
        }
            .overflow_masssages{
                max-height: 495px;;
                display: flex;
                overflow-y:scroll;
                flex-direction: column;
            }
                .messages_block_right{
                    display: flex;
                    justify-content: end;
                    margin: 5px;
                }
                    .messages_post_right{
                        padding: 10px;
                        border-radius: 7px;
                        color:white;
                        background-color:#0b5ed7; 
                        max-width:300px
                    }
                    .notification-time_left {
                        font-size: 12px;
                        color: #666;
                    }

                .messages_block_left{
                    display: flex;
                    justify-content: start;
                    padding: 5px;
                }
                    .messages_post_left{
                        padding: 10px;
                        border-radius: 7px;
                        background-color: #cccccc;
                        max-width:300px
                    }
                    .notification-time_right {
                        width: 100%;
                        font-size: 12px;
                        color: #ffffff;
                        display: flex;
                        justify-content: end;
                    }
                    
        .form_post_messages{
            display: flex;
            align-items: center;
        }
            .textarea_post_message, .textarea{
                border-bottom-left-radius: 10px;
                display: flex;
                align-items: center;
                border:solid #bdbdbd 1px ;
                width: 100%;
                height: 40px;
            }
            .btn_post_message{
                border-bottom-right-radius: 10px;
                height: 40px;
                background-color: white;
                border-right:solid #bdbdbd 1px ;   
                border-top:solid #bdbdbd 1px ; 
                border-bottom:solid #bdbdbd 1px ; 
                border-left:none; 
            }
            