*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px; /* Ширина вертикальной полосы прокрутки */
    height: 6px; /* Высота горизонтальной полосы прокрутки */
}
::-webkit-scrollbar-track {
    background: #d3d3d3; /* Цвет фона дорожки */
    border-radius:20px; /* Радиус скругления дорожки */
}
::-webkit-scrollbar-thumb {
    background: #313131; /* Цвет "ползунка" полосы прокрутки */
    border-radius: 10px; /* Радиус скругления ползунка */
}
/* scrollbar-width: thin; /* Устанавливает ширину полосы прокрутки: auto, thin, или none */
/* scrollbar-color: #888 #f1f1f1; Цвет ползунка и дорожки */ 
body, html{
    font-optical-sizing: auto;
    font-family: "Doto", sans-serif;
    height: 100%; 
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    flex: 0 0 auto;
}
main{
    flex: 1 0 auto;
}
footer{
    margin-top: 100px;
    flex: 0 0 auto;
}
/* Баннер профиля */
@media (max-width: 1290px){
    
}
main .auth_main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content_form{
    width: 450px;
    display: flex;
    font-size: 20px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #cfcfcf;
    background-color: #f7f7f7;
    max-height: 450px;
    padding: 20px;
}
    .content_form_welcome{
        display: flex;
        justify-content: center;
    }
.links_auth_registration{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.link_auth_index{
    margin: 10px;
}
.link_registration_index{
    margin: 10px;
}

.content_form a:first-of-type{
    
}    
/* Друзья */
.friends{
    width: 100vh;
    display: flex;
}   
    .tuble-friends{
        width: 100%;
        max-height: 609px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
    .friend{
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #f3f3f3;
        width:60%;
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        border: 1px solid red;
    }
    .friend-block-photo-and-info{
        display: flex;
        align-items: center;
        
    }
     /* Эффект при наведении на ссылку */
     .friend:hover {
        background-color: #bebdbd;
    }
    /* Фото друга */
    .friend-photo{
        border: 1px solid rgb(72, 255, 0);

    }
    .friend-info{
        
        margin-left: 10px;
    }
    /* Имя друга */
    .friend-name{
        border: 1px solid rgb(0, 26, 255);
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    .friend_chat_to_link{

    }
    .delete_friend_icon {
        border: 1px solid red;
        padding: 5px 10px;

    }

    .delete_friend {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* Заявки */
.zayvki{
    width: 100vh;
    display: flex;
    padding:5px;
    max-height: 609px;
    overflow-y: auto;
}

.container-applications{
    display: flex;
    border:1px solid rgb(34, 86, 134);
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
    .left-block {
        border: 1px solid red ;
        margin: 20px;
        border-radius: 5px;
        padding: 20px;
        width: 350px;
    }

    .right-block {
        border: 1px solid rgb(0, 17, 255) ;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
    }

        .request-item{
            display: flex;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .request-item img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        .request-item-friend{
            display: flex;
            flex-direction: column;
            margin-left:10px;

        }
        .request-item:hover {
            background-color: #f1f1f1;
        }

        .search-container {
            margin-bottom: 20px;
        }

        .search-results {
            max-height: 200px;
            overflow-y: auto;
            margin-top: 20px;
        }

        .search-item {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .search-item:hover {
            background-color: #f1f1f1;
        }
    
/* Сообщения */
.messages{
    width: 100vh; 
    display: flex;
    justify-content: space-between;
    /* border:solid 2px red;  */
}   
    #user-selection {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    .user-item {
        cursor: pointer;
        padding: 10px;
        transition: all 0.3s ease;
    }

    .user-item:hover {
        border-color: #007bff;
        background-color: #f0f8ff;
    }
    .user-item.selected {
        border-color: #007bff;
        background-color: #e0f7ff;
    }
    #chat-box{
        display: none;  /* Изначально скрыто */
    }
    .people{
        margin: 10px;
        height: 589px;
        padding: 10px;
        width: 30%;
        overflow-y: scroll;
        border-radius: 4px;
        border:solid #bdbdbd 1px;
    }
        .friend-people {
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 100%;
            background-color: #f3f3f3;
            padding: 10px;
            justify-content: space-between;
            margin-top: 5px;
            margin-bottom: 5px ;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }
      
        /* Эффект при наведении на ссылку */
        .friend-people:hover {
            background-color: #bebdbd;
        }
      
        /* Фото друга в выборе переписке  */
        .friend-photo-people {
            
        }
        
        .friend-photo-people img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        /* Информация о друге */
        .friend-info-block-txt{
            display: flex;
            justify-content: space-between;
        }
        .friend-info-people {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
        }
            .friend-name-people {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
                color: #333;
            }
            .friend-message-people {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.6);
            }
        /* Имя друга */
        .friend-name {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
      
        /* Недавнее сообщение */
        .contact-friend {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }
      
        
      
        /* Число уведомлений */
        .notification-count {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        /* Время уведомления */
        .notification-time {
            font-size: 12px;
            color: #666;
        }

    @media (max-width: 1548px){
        .people{
            margin: 10px;
            height: 589px;
            padding: 10px;
            width: 98px;
            overflow-y: scroll;
            border-radius: 4px;
            border:solid #bdbdbd 1px;
        } 
            /* Информация о друге */
            .friend-info-people {
                display: none;
                
            }
            .friend-notification{
                display: none;
            }

    }
    @media (max-width: 1280px){
        /* Информация о друге */
        .pesone_profile {
            display: none;
            
        }
    }

    /* Блок переписки и отправки письма. */
    .correspondence{
        flex-grow: 1;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 4px;
    }
        .friend_up_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .friend-photo-chat {
            margin-right: 15px;
        }
            .friend-photo-chat img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
            .friend-name-chat{
                font-size: 17px;
                font-weight: bold;
            }
        .friend-action-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }
        .main_messages{
            height: 495px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-top : 10px;
            
            background-color: #f1f1f1;
            border:solid #bdbdbd 1px ;
            border-radius: 4px 4px 0px 0px;
        }
            .overflow_masssages{
                max-height: 495px;;           
                overflow-y:scroll;
                flex-direction: column;
                scroll-behavior: smooth;
                display: none;
            }
                .messages_block_right{
                    display: flex;
                    justify-content: end;
                    margin: 5px;
                }
                    .messages_post_right{
                        padding: 10px;
                        border-radius: 7px;
                        color:white;
                        background-color:#0b5ed7; 
                        max-width:300px
                    }
                    .notification_time_righ{
                        font-size:11px;
                        color: #acacac;
                        display: flex;
                        justify-content: end;
                    }

                .messages_block_left{
                    display: flex;
                    justify-content: start;
                    padding: 5px;
                }
                    .messages_post_left{
                        padding: 10px;
                        border-radius: 7px;
                        background-color: #cccccc;
                        max-width:300px;
                        font-size:17px;
                    }
                    .notification_time_left{
                        width: 100%;
                        font-size: 12px;
                        color: #919191;
                        display: flex;
                        justify-content: end;
                        
                    }   
        .file-input {
            display: none;
        }
        .file-label {
            display: inline-block;
            cursor: pointer;
            transition: 1s;
            margin-left: 5px;
            margin-right:5px;
        }
        .file-label:hover {
            opacity: 0.8;
        }  
        .file-label img{
            height:35px ;
            width: 35px;

        }             
        .form_post_messages{
            display: flex;
            align-items: center;
        }
            .input_post_message, input{
                
                display: flex;
                align-items: center;
                border:solid #bdbdbd 1px ;
                width: 100%;
                height: 40px;
            }
            .btn_post_message{
                border-bottom-right-radius: 10px;
                height: 40px;
                background-color: white;
                border-right:solid #bdbdbd 1px ;   
                border-top:solid #bdbdbd 1px ; 
                border-bottom:solid #bdbdbd 1px ; 
                border-left:none; 
            }

/* редактирование профиля  */
.profile{
    padding: 30px;
    width: 100vh;
    display: flex;
    justify-content: center;
}
            